if (special) {

if (HOD){
<h3>{{HOD.name}}</h3>
<h4>
{{HOD.dept}}

do some

</h4>
}
else if(Dean){

}

}
else{

    <h2>Hello {{ employee.name }}</h2>

    <div>
    <h3>Total Number of leaves availabe : {{ employee.leaveCount }}</h3>

    </div>

    <div>

        <button class="btn btn-primary" onclick="genPaySlip();"> Generate Pay Slip</button>
    </div>
    <div>
<h4>Your Leave Request Status {{employee.leave.status }} </h4>

<h4>Cancel leave request! if not approved | remind the leave approver </h4>

        <button class="btn btn-primary" onclick="genPaySlip();"> Request New Leave</button>


    </div>



    <h3></h3>




}
