    <h2>Hello {{ employee_obj.name }}</h2>
    <h3>Department: {{ dept_obj.dept_name}}</h3>
    <div>
    {% if role_obj.role_id is not None %}
      <h3>Role: {{role_obj.role_name}}</h3>
    {% endif %}
    <h3>Type: {{employee_obj.type}}</h3>
    <h3>Join Date: {{employee_obj.join_date}}</h3>
    <h3>Email: {{employee_obj.employee_email}}</h3>
    <h3></h3>
    <h3>Total Number of leaves availabe this year: {{ employee_obj.leaves_this_year }}</h3>
    <h3>Total Number of leaves availabe next year: {{ employee_obj.leaves_next_year }}</h3>

    </div>

    <div>

        <button class="btn btn-primary" onclick="genPaySlip();"> Generate Pay Slip</button>
    </div>
    <div>
<h4>Your Leave Request Status: </h4>
<table>
<tr>
  <th>request_id</th>
  <th>Stage</th>
  <th>startDate</th>
  <th>endDate</th>
  <th>approvalStatus</th>
  <th>Comments</th>
</tr>
{% for r in leave_requests %}
<tr>
  <th> {{ r.request_id }}</th>
  <th> {{ r.status_id.stage }}</th>
  <th> {{ r.startDate }}</th>
  <th> {{ r.endDate }}</th>
  <th> {{ r.approvalStatus}}</th>
  <th><a class="btn btn-primary" href=/employee_portal/view_comments?request_id={{ r.request_id|urlencode }}> View Comments</a></th>
</tr>
{% endfor %}
</table>

{% if role_obj.role_id > 1%}
<h4>Incoming requests:</h4>
<table>
<tr>
  <th>request_id</th>
  <th>Stage</th>
  <th>Employee</th>
  <th>startDate</th>
  <th>endDate</th>
  <th>approvalStatus</th>
  <th>Comments</th>
  <th>Add Comment</th>
  <th>Approve</th>
  <th>Decline</th>
</tr>
{% for r in incoming_requests %}
{% ifnotequal r.approvalStatus "Approved" %}
<tr>
  <th> {{ r.request_id }}</th>
  <th> {{ r.status_id.stage }}</th>
  <th> {{ r.employee_id.name}}</th>
  <th> {{ r.startDate }}</th>
  <th> {{ r.endDate }}</th>
  <th> {{ r.approvalStatus}}</th>
  <th><a class="btn btn-primary" href=/employee_portal/view_comments?request_id={{ r.request_id|urlencode }}> View Comments</a></th>
  <th><a class="btn btn-primary" href=/employee_portal/add_comments?request_id={{ r.request_id|urlencode }}> Add Comments</a></th>
  <th><a class="btn btn-primary" href=/employee_portal/approve?request_id={{ r.request_id|urlencode }}> Approve</a></th>
  <th><a class="btn btn-primary" href=/employee_portal/decline?request_id={{ r.request_id|urlencode }}> Decline</a></th>

</tr>
{% endifnotequal %}
{% endfor %}
</table>
{% endif %}
    <a class="btn btn-primary" href="{% url 'employee_portal:leave_request_form'%}"> Request New Leave</a>


    </div>

    <h3></h3>

    <a class="btn btn-primary" href="{% url 'employee_portal:logout' %}"> Logout</a>


    <h3></h3>
